.app-header {
  font-size: large;
  color: rgb(255, 255, 255);
  background: #43B02A;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.app-content {
  background-color: #F0F2F5;
  padding: 64px 20px 20px 20px;
}

.app-component {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}